#output{
    text-wrap: nowrap;
}

.treeBranch{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 1vh;
    margin-top: 0px;
    border: 1px solid black;
    padding: 1%;
    overflow: hidden;
}
.treeBranch > *{
    margin: 1%;
}
.treeBranch > .dataField{
    width: 100%;
}
.subCatagoryContainer{
    margin: 0%;
    padding: 0%;
    width: 110%;
}