body{
    background-color: rgb(255, 190, 190);
}
.content-wrapper{
    background-color: rgb(255, 116, 116);
    border: 2.5px solid black;
}

.box{
    background-color: rgb(255, 76, 76);
    border: 5px outset rgb(233, 110, 110);
}

button{
    background-color: rgb(255, 0, 0);
    color: white;
}

button:hover{
    background-color: rgb(226, 0, 0);
}

.clickable:hover{
    background-color: hsl(0, 100%, 61%);
}

.text{
    color: black;
}